.navbar-custom {
    background-color: #AFB76E;
    border-radius: 0;
    box-shadow: 0 5px 1px #888888;
    padding: 0;
    margin: 0;
    /*font: 14px 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif*/
}

.navbar-custom a {
    color: #FEfEfE;
}

.navbar-custom .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #000000;
    color: #FFF;
}

.collapsed {
    background-color: white;
    border-color: black;
}

.navbar-toggle {
    background-color: white;
}

.navbar-custom .navbar-toggle .icon-bar {
    background-color: black;
}

.dropdown-custom, .dropdown {
    background-color: #AFB76E;
    border-radius: 0;
}

.dropdown-open {
    background-color: #AFB76E;
}

.nav.nav-tabs > li.dropdown.active.open > a,
.nav.nav-tabs > li.dropdown.active.open > ul.dropdown-menu a:hover,
.nav.nav-tabs > li.dropdown.open > a,
.nav.nav-tabs > li.dropdown.open > a:focus,
.nav.nav-tabs > li.dropdown.open > ul.dropdown-menu a:hover {
    color: #fff;
    background-color: #AFB76E;
!important;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background-color: #000;
!important;
    color: #fff;
    background-image: none;
}

.navbar .nav > li.dropdown.open.active > a:hover,
.navbar .nav > li.dropdown.open > a {
    color: #fff;
    background-color: #000;
}

