body
  background-color: #DADADA

.core-body
  padding: 5px

p
  padding: 10px

date
  font: 14px "Consolas", "Ubuntu Mono", monospace
  font-style: italic

.result
  padding: 18px
  margin-left 15px
  margin-right 15px
  margin-bottom 25px
  font: 14px "Lucida Grande", Helvetica, Arial
  color: #505050
  background-color: white
  box-shadow: 2px 2px 1px #888888

.browse-box
  padding: 20px
  margin-left 15px
  margin-right 15px
  margin-bottom 25px
  margin-top 25px
  font: 14px "Lucida Grande", Helvetica, Arial
  color: #505050
  background-color: white
  box-shadow: 2px 2px 1px #888888

.browse-link
  font: 18px "Lucida Grande", Helvetica, Arial
  margin 5px

.letter-body
  font: 14px "Lucida Grande", Helvetica, Arial
  margin 14px

.letter-box
  padding 20px
  margin-top 25px
  color: #505050
  background-color: white
  box-shadow: 2px 2px 1px #888888

.help-head
  font: 18px "Lucida Grande", Helvetica, Arial
  align-content: center

//hi
//  font-style: italic
ftitle
  font: 16px "Lucida Grande", Helvetica, Arial
  font-weight: bold

author
  font: 16px "Lucida Grande", Helvetica, Arial
  font-style italic

publisher
  font: 16px "Lucida Grande", Helvetica, Arial
  font-style italic

.xml-doc
  white-space pre-wrap
  font: 16px "Lucida Grande", Helvetica, Arial

.form-box
  background-color: white
  box-shadow: 3px 3px 1px #888888
  padding 25px
  margin-top 45px

.home-outer
  padding-left 25px
  padding-right 25px
  padding-top 25px
  padding-bottom 25px
  margin-top 25px
  margin-left 25px
  margin-right 1%
  font: 14px "Lucida Grande", Helvetica, Arial
  color: #505050
  background-color: white
  box-shadow: 2px 2px 1px #888888

.browse-btn
  width 210px
  height 30px
  margin 25px
  background-color: #4A1E53
  border-radius: 5px
  border-color: transparent
  outline: none
  box-shadow: 1px 1px 1px #888888
  color: #ffffff

.browse-btn:hover
  background-color: #000000
  box-shadow: 2px 2px 2px #888888
  color: #ffffff

.browse-btn:active
  background-color: lightgrey
  color: #fff
  outline: none
  border-color: transparent
  box-shadow: 2px 2px 2px #888888

.back-btn
  width 210px
  height 30px
  margin-top 15px
  margin-bottom 5px
  background-color: #517327
  border-radius: 5px
  border-color: transparent
  outline: none
  box-shadow: 1px 1px 1px #888888
  color: #ffffff

.back-btn:hover
  background-color: #000000
  box-shadow: 2px 2px 2px #888888
  color: #ffffff

.back-btn:active
  background-color: lightgrey
  color: #fff
  outline: none
  border-color: transparent
  box-shadow: 2px 2px 2px #888888

.del-btn
  margin-top 15px
  margin-bottom 5px
  background-color: #A00016
  border-radius: 5px
  border-color: transparent
  outline: none
  box-shadow: 1px 1px 1px #888888
  color: #ffffff

.del-btn:hover
  background-color: #FF0023
  box-shadow: 2px 2px 2px #888888
  color: #ffffff

.del-btn:active
  background-color: lightgrey
  color: #fff
  outline: none
  border-color: transparent
  box-shadow: 2px 2px 2px #888888

.btn-custom, .btn-custom:focus
  background-color: #AFB76E
  margin-top 15px
  margin-bottom 5px
  border-radius: 5px
  border-color: transparent
  outline: none
  box-shadow: 1px 1px 1px #888888
  color: #ffffff

.btn-custom:hover
  background-color: #000000
  box-shadow: 2px 2px 2px #888888
  color: #ffffff

.btn-custom:active
  background-color: lightgrey
  color: #fff
  outline: none
  border-color: transparent
  box-shadow: 2px 2px 2px #888888

.btn-custom.active.focus, .btn-custom.active:focus,
.btn-custom:active.focus, .btn-custom:active:focus
  outline: none
