<script>
    var format = true;
    function formattingClick(){
        format = !format;
        if(!format) {
            $('#raw').show();
            $('#formatted').hide();
        } else {
            $('#raw').hide();
            $('#formatted').show();
        }
    }

    function deleteFile(){
        if(window.confirm("Are you sure you want to delete this file?")){
            var currentLocation = location.href;
            location.href = "/browse/delete/?origin="+window.location.href.toString().split(window.location.host)[1];
        }
    }
</script>

<div class="letter-box col-md-10 col-md-offset-1">
    <div class="row">
        <h3 style="padding: 5px; margin-left: 15px">File: {{filename}}<span></span></h3>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="row" align="right">
        <button class="btn btn-custom" style="margin-left: 15px" onclick="formattingClick()">Toggle formatting</button>
        <button class="btn del-btn" style="margin-left: 15px" onclick="deleteFile()">Delete</button>
    </div>
    <div class="row" id="formatted">
        <div class="letter-body">{{{file}}}</div>
    </div>
    <div class="row" id="raw" hidden>
        <div class="letter-body xml-doc">{{rawFile}}</div>
    </div>
</div>