<div align="center">
    <div class="browse-box container">
        <div class="row browse-row">
            {{#each directory}}
                <button class="browse-btn" onclick="location.href='{{path}}'">{{name}}</button>
            {{/each}}
        </div>
    </div>
</div>