<button class="back-btn" onclick="location.href='{{back}}';">Back</button>
<div align="center">
    <div class="browse-box container">
        <div class="row browse-row">
            <div>
                {{#each directory}}
                    <a class="browse-link" href="{{url}}">{{path}}</a>
                    <br/>
                {{/each}}
            </div>
        </div>
    </div>
</div>