<title>Colenso Find Results</title>
<div class="col-md-10 col-md-offset-1 row form-box">
    <div class="help-head">
        Search the database for simple words.
        <br/>
        <br/>
    </div>
    <form action="/find/results" method="get">
        <div class="input-group">
            <input type="text" class="form-control" value="{{term}}" name="term" placeholder="I want...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Go!</button>
      </span>
        </div>
        <div class="checkbox">
            {{#if formatting}}
                <label><input type="checkbox" checked name="formatting">Format xml tags</label>
            {{else}}
                <label><input type="checkbox" name="formatting">Format xml tags</label>
            {{/if}}
        </div>
    </form>
</div>
<div class="col-md-12">
    <br/>
    <br/>
    <br/>
    <div class="row"><h2 align="center">Results</h2></div>
    <div class="row">
        <div>
            {{#each data}}
                <div class="result">{{{this}}}</div>
            {{/each}}
            {{#each fdata}}
                <div class="result">{{this}}</div>
            {{/each}}
        </div>
        {{error}}
    </div>
</div>
