<title>Colenso Project</title>
<div class="home-outer">
    <h1>Welcome</h1>
    <p><em>Printer of some of the most significant documents in New Zealand history, missionary, explorer
        and botanist, a free wheeling politician and controversialist <br/></em><em>– William Colenso was a
        maverick.</em></p>
    <h2>The Colenso Project</h2>
    <p>The <a title="View details of the Colenso Society"
              href="/about-william-colenso/the-colenso-society/#Colenso Society" target="_blank">Colenso Society</a>, <a
            title="Go to Victoria University of Wellington website" href="http://www.victoria.ac.nz/wtapress/"
            target="_blank">Victoria University of Wellington </a>and <a
            title="View Hawke's Bay Musuem &amp; Art Gallery website" href="http://www.hbmag.co.nz/" target="_blank">MTG
        Hawke's Bay </a>are delighted to announce the establishment of the Colenso Project. This exciting new initiative
        seeks to build on the blossoming national and international interest in William Colenso’s life and ideas as the
        result of the William Colenso Bicentenary Celebrations in Hawke’s Bay in 2011, and a body of new publications
        and research.</p>
    <p>Further project details will be announced in the New Year, alongside the fundraising and sponsorship strategies
        that will be vital in developing the Project. If you are interested in being involved, and/or have information
        about Colenso holdings you can share with us, please contact one of the project team members below, or <a
                title="Send email to Project Team" href="mailto:info@william.colenso.co.nz">email us</a>.</p>
</div>
