<div class="row form-box col-md-10 col-md-offset-1">
    <div class="help-head">
        Use this box to enter a new file to upload to the database
        <br/><br/>
    </div>
    <form action="/upload/submit" method="post">
        <label>File Path</label>
        <input class="form-control" name="directory" placeholder="/folder/otherfolder/file.xml" type="text">
        <label>File Contents</label>
        <textarea class="form-control" rows="12" name="code"
                  placeholder="XML formatted text goes here">{{code}}</textarea>
        <div class="input-group">
            <div class="checkbox"></div>
        </div>
      <span class="input-group-btn">
        <button class="btn btn-default">Go!</button>
      </span>

    </form>
</div>
