<title>Colenso XQuery</title>
<div class="row form-box col-md-12">
    <div class="help-head">
        Use this box to enter full XQUERY statements to the database
        <br/><br/>
    </div>
    <form action="/xquery/query" method="post">
            <textarea class="form-control" rows="12" name="code"
                      placeholder="e.g.: for $x in doc(&quot;books.xml&quot;)/bookstore/book where $x/price>30 order by $x/title return $x/title">{{code}}</textarea>
        <div class="input-group">
            <div class="checkbox">
                {{#if formatting}}
                    <label><input type="checkbox" checked name="formatting">Format xml tags</label>
                {{else}}
                    <label><input type="checkbox" name="formatting">Format xml tags</label>
                {{/if}}
            </div>
      <span class="input-group-btn">
        <button class="btn btn-default">Go!</button>
      </span>

        </div>
    </form>
</div>

<div class="row col-md-12">
    {{#if error}}
        <div class="row result">{{{error}}}</div>
    {{/if}}
    <br class="row"/>
    <br class="row"/>
    <br class="row"/>
    <br class="row"/>
    <div class="row"><h2 align="center">Results</h2></div>
    <ol class="list-group">
        {{#each data.result}}
            <li class="result">{{{this}}}</li>
        {{/each}}
        {{#each fdata.result}}
            <li class="result">{{this}}</li>
        {{/each}}
    </ol>
</div>